<div class="basic-block-content-wrapper">
    <div class="basic-block-content">
        {% if basic_block_image is not empty %}
            <img class="basic-block-image" src="{{ basic_block_image }}" alt="{{ basic_block_image }}">
        {% endif %}
        <div class="basic-block-text">
            {% if basic_block_title %}
                <h1 class="basic-block-title">{{ basic_block_title }}</h1>
            {% endif %}
            {% if basic_block_sub_title %}
                <h2 class="basic-block-sub-title">{{ basic_block_sub_title }}</h2>
            {% endif %}
        </div>
    </div>
</div>